@font-face {
  font-family: xkcdFont;
  src: url("xkcd-script.woff") format('woff');
}

body{
  background-color: #96A8C8;
}

h1 {
  font-family:Lucida,Helvetica,sans-serif;
  font-variant: small-caps;
  font-weight: 800;
}

.fadein {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center; /* center horizontal */
  align-items: center; /* center vertical */
  overflow: hidden;
}

.fadein img {
  padding: 30px;
  background: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
  border-radius: 12px;
  position: absolute;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  max-height: 50%;
  max-width: 80%;
  opacity: 0;
}

.ttexts {
  display: flex;
  height: 25%;
  width: 100%;
  justify-content: center; /* center horizontal */
  align-items: center; /* center vertical */
  overflow: hidden;
  text-align: center;
}

.ttexts div {
  font-family: xkcdFont;
  font-size: 24;
  position: absolute;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  max-height: 50%;
  max-width: 50%;
  opacity: 0;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  6% {opacity: 1;}
  12% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  6% {opacity: 1;}
  12% {opacity: 0;}
  100% {opacity: 0;}
}

#f9 {
  -webkit-animation-delay: 9.5s;
}
#f8 {
  -webkit-animation-delay: 8.5s;
}
#f7 {
  -webkit-animation-delay: 7.5s;
}
#f6 {
  -webkit-animation-delay: 6.5s;
}
#f5 {
  -webkit-animation-delay: 5.5s;
}
#f4 {
  -webkit-animation-delay: 4.5s;
}
#f3 {
  -webkit-animation-delay: 3.5s;
}
#f2 {
  -webkit-animation-delay: 2.5s;
}
#f1 {
  -webkit-animation-delay: 1.5s;
}
#f0 {
  -webkit-animation-delay: 0.5s;
}