<html>
    <header><title>Loading</title></header>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='loading.css')}}">
    </head>
    <body>
        <div class="fadein">
            <h1 align="center"> Loading... </h1>
            <img id="f9" src="{{urls[9]}}">
            <img id="f8" src="{{urls[8]}}">
            <img id="f7" src="{{urls[7]}}">
            <img id="f6" src="{{urls[6]}}">
            <img id="f5" src="{{urls[5]}}">
            <img id="f4" src="{{urls[4]}}">
            <img id="f3" src="{{urls[3]}}">
            <img id="f2" src="{{urls[2]}}">
            <img id="f1" src="{{urls[1]}}">
            <img id="f0" src="{{urls[0]}}">
        </div>
    </body>
    <script> window.location.replace('/search/{{query}}'); </script>
</html>
