{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{query}} - {% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="query"> Find relevant XKCDs </label>
		<input name="query" id="query" required>
		<div id="sub_button">
			<input type="submit" name="search_button" value="Normal search!">
			<input type="submit" name="search_button" value="Heavy search!">
		</div>
	</form>
	<h1> search results for: {{query}}</h1>
	{% if res %}
		{% for comic in comics %}
			{%if comic['id'] %}
				<article class="comic">
					<h2 id="ctitle" align="center"> {{comic['id']}}: {{comic['title']}} </h2>
					<img src="{{comic['url']}}" title="{{comic['title_text']}}" class="center">
					<h3 id="rel" align="center"> Relevance: {{comic['val']}} </h3>
				</article>
				{% if not loop.last %}
					<hr>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% else %}
		<h2 align="center"> No relevant XKCDs found </h2>
	{% endif %}

{% endblock %}