{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} Relevant XKCD {% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="query"> New Search </label>
		<input name="query" id="query" required>
		<input type="submit" value="Search!">
	</form>
	<h1> Search results for: {{query}}</h1>
	{% for comic in comics %}
		<article class="post">
			<h2> {{comic['id']}}: {{comic['title']}} </h2>
			<img src="{{comic['url']}}" title="{{comic['title_text']}}">
		</article>
		{% if not loop.last %}
			<hr>
		{% endif %}
	{% endfor %}
{% endblock %}